*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    background-color: #333;
  
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
}


.container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #333433;
    border-radius: 15px;
    margin: 10px 20px 0px 20px;

}
footer ul li a{
    color: #fff;
    display: inline;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    display: block;
}
footer ul li{
    display: block;
}

main {
    max-width: opx;
    margin: 20px auto;
    padding: 20px;
    background-color: #fcf9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
main div{
    display: flex;
    justify-content: center;
}

section{
    
    margin: auto;
    width: 80%;
    padding: 80px;
    
}
.guest{
    align-content: flex-end;
}
.container p{
    text-align: center;
    display: flex;
    justify-content: center;
}
#department div{
    display: flex;
    justify-content: center;
}
.guest button{
    width: 100px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #333,#f3f2ee);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
}
.slider{
    width: 1000px;
    height: 400px;
    background-image: url(banner.jpeg);
    margin: 100px auto;
    animation: slide 20s infinite;
}
@keyframes slide{
    25%{
        background: url(slider1.jpeg);
    }
    50%{
        background: url(slider2.jpeg);
    }
    75%{
        background: url(slider3.jpeg);
    }
    100%{
        background: url(slider4.jpeg);
    }
    125%{
        background: url(slider5.jpeg);
    }

}
.dropdown_menu {
    position: absolute;
    display: inline-block; 
    
    
}

.dropdown_menu ul {
    display: none; /* Hide the dropdown menu by default */
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #333;
    list-style: none;
    padding: 0;
    
}
/* Initially hide the dropdown menu */
.menu_bar ul li .dropdown_menu {
    display: none;
}

/* Display the dropdown menu when hovering over the parent menu item */
.menu_bar ul li:hover .dropdown_menu {
    display: block;
}
.dropdown_menu ul li {
    width: 300px;
    padding: 10px;
    
}

/* Show the dropdown menu when hovering over the parent container */

 .dropdown_menu:hover ul   {
    display: block;
}
.menu_bar{
height: 80px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 5%;
}
.menu_bar ul{
    list-style: none;
    display: flex;
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
.menu_bar ul li a{
color: white;
text-decoration: none;
font-size: 20px;
transition: all 0.3s;
}
.menu_bar ul li a:hover{
    color: rgb(89, 89, 95);
}
#login img{
    width: 600px;
    height: 450px;
   
  
}
.all{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#login button{
    width: 100px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, hsl(0, 0%, 20%),#f3f2ee);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    

   
}
#login button a{
    text-decoration: none;
    color: white;
}
#login button :hover{
    
    color: #333;
}
#login{
    background-color: #191919;
    width: 100%;
    padding: 78px 0px;
}
footer{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #333;
}
footer span{
    padding-bottom: 20px;
    color: #ffffff;
    margin-left: 200px;
}
.login-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.login-text p{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.login-text span{
    color: rgb(145, 138, 138);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.login-text h2{
    color: rgb(145, 138, 138);
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
